.artistas ul {
    width: 158.125em;
}
.bares ul {
    width: 158.125em;
}
a.plus {
    top:105px;
    right: 1em;
    height: 27.75em;
}
.plus-sombra {
    top: 90px;
    right: 8.5em;
    height: 27.75em;
}
header {
    min-height: 4.375em;
}
